@import '../../scss/utils/index';

.stepper {
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
  gap: 4px;

  @media (min-width: 600px) {
    bottom: 30px;
    top: unset;
  }

  @include breakpoint($iphoneSE) {
    top: 34px;
  }
}

.step {
  position: relative;
  height: 4px;
  width: 40px;
  border-radius: 4px;
  opacity: 0.89;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.step::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0.89;
  background: #000;
  border-radius: 4px;
  transition: width 2s ease;
}

.step.completed::after {
  width: 100%;
}
