@import '../../scss/utils/index';

.photo-example {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__img {
    margin: 0;
    width: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;

    &--side {
      transform: scaleX(-1);
    }

    img {
      max-width: 100%;
      border-radius: 4px;
      overflow: hidden;
      object-fit: contain;
    }
  }

  &__img-onload-detect {
    opacity: 0;
    width: 10px;
    height: 10px;
  }
}
