@import '../../scss/utils/index';

.photo-example {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  padding-top: 42px;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__img {
    margin: 0;
    width: 100%;
    position: relative;
    flex-grow: 1;

    &--side {
      transform: scaleX(-1);
    }

    img {
      max-width: 100%;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
