@import '../../scss/utils/index';

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;

  img {
    width: 60px;
    height: 60px;
    animation: loader-spin 1s linear infinite;
  }

  &--bg {
    background: radial-gradient(106.37% 59.1% at 50.13% 40.9%, rgb(255, 255, 255) 0%, rgb(221, 227, 251));
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
