@import '../../scss/utils/index';

.limit-reached {
	z-index: -1; /* for iphone */
	position: fixed;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 100vw; /* for iphone */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	transition: opacity 0.5s ease, visibility 0.5s ease;

	&.active {
		left: 0;
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}

	&--mobile &__img {
		transform: translateX(0);

		&:before {
			left: 45px;
		}
	}

	&__btn {
		color: $main-color;
		font-size: rem(8px);
		letter-spacing: rem(1.2px);
		height: 22px;
		min-width: 91px;
		padding: 0 5px;
		line-height: rem(16px);
		text-transform: uppercase;
		border-radius: 4px;
		background-color: #FFFFFF;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
		border: 0;
		user-select: none;
		font-weight: 500;
	}

	&__wrap {
		font-family: Roboto;
		width: 85vw;
		margin: 0;
		position: relative;
		background-color: white;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 24px;

		&--calculations {
			width: 70px;
			height: 70px;
			border: 3px solid #D5403D;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			margin: 32px 0;
			color: #000;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;

			span {
				color: #D5403D;
				font-size: 18px;
				font-weight: 700;
			}
		}

		&--title {
			color: #343339;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			align-self: center;
			margin-bottom: 8px;
		}

		p {
			color: #343339;
			text-align: center;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 16px;
			opacity: 0.7;

			&:last-of-type {
				margin-bottom: 30px;
			}
		}
	}

	&__close-btn {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: transparent;
		padding: 16px;
		z-index: 1;
	}
}
