@import '../../scss/utils/index';

.privacy-banner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 315px;
  padding: 10px 12px;
  border-radius: 5px;
  background: rgba(231, 236, 252, 0.30);

  &__icon {
    margin: 0 16px 0 0;
    flex-shrink: 0;
  }

  &__txt {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.12px;
    text-align: left;
  }
}
