@import '../../scss/utils/index';


.lottie-loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.lottie-loader {
  width: 237px;
  height: 197px;
}

.progress-bar {
  background-color: #343239;
  border-radius: 10px;
  height: 6px;
  max-width: 100%;
}

.progress-bar-wrapper {
  width: 220px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 10px;
  margin: 34px 0 60px;
}
