{
  "parser": "babel-eslint",
  "extends": ["eslint-config-airbnb"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": 0,
    "import/extensions": 0
  },
  "globals": {
    "API_HOST": true,
    "API_DENIM_HOST": true,
    "API_KEY": true,
    "WIDGET_HOST": true,
    "GA_TRACKING_ID": true,
    "TEST_BRAND": true,
    "TEST_BODY_PART": true,
    "VERSION": true,
    "COMMITHASH": true,
    "BRANCH": true,
    "ga": true,
    "$": true,
    "item": true,
    "meta": true
  }
}
