@import "../utils/index";

.input {
  font-size: 16px;
  line-height: 19px;
  padding: 0 15px;
  width: 100%;
  transition: all ease 300ms;
  height: 50px;
  border: 2px solid $main-color;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-appearance: none; /* for disable grey line on iphone */

  @include placeholder {
    color: #D3D3D3;
    font-weight: 300;
  }

  &--invalid,
  &--invalid:focus,
  &--invalid:active {
    border-color: #D0021B;
  }

  &[type='number']::-webkit-inner-spin-button,
  &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}
