@import "../utils/index";

.select {
  line-height: 19px;
  padding: 0 15px;
  width: 100%;
  transition: all ease 300ms;
  height: 50px;
  border: 2px solid $main-color;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-appearance: none; /* for disable grey line on iphone */
  font-size: 50px;

  @include placeholder {
    color: #D3D3D3;
    font-weight: 300;
  }
}
