$base-font-size: 14px;
$base-font-size--sm: 12px;
$base-font-size--xsm: 11px;
$base-line-height: 19px;


$error-text-color: #e2102a;
$error-border-color: #e2102a;
$error-background-color: #FFE8E8;

$main-color: #ff9940;

$mobile: (max-width 500px);

