@import '../../scss/utils/index';

.measurements {
  text-align: left;
  display: flex;

  @include breakpoint($mobile) {
    display: block;
    width: 100%;
    max-width: 275px;
    margin: 0 auto;
  }

  &__wrapper {
    overflow: auto;
    height: 240px;
        
    @include breakpoint($mobile) {
      height: calc(100vh - 350px);
      padding: 0;
    }

    @include breakpoint($iphoneSE) {
      padding: 0 30px;
    }

    &--custom-height {
      height: auto;
    }
  }

  &__title {
    margin-bottom: 8px;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;

    @include breakpoint($mobile) {
      padding: 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-bottom: 22px;
    padding: 0 30px;

    @include breakpoint($mobile) {
      padding: 0;
    }
  }

  &__list-wrapper {
    width: 100%;

    &:first-child {
      border-right: 1px solid #DDDDDD;

      @include breakpoint($mobile) {
        border: 0;
      }
    }
  }

  &__measurement {
    margin: 5px 0;
    display: flex;
    font-size: 80%;
  }

  &__measurement-value {
    margin-left: auto;
    min-width: 70px;
    text-align: right;
    flex-shrink: 0;
    font-weight: 600;
  }

  &__measurement-label {
    border: none;
    background: transparent;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    margin-right: 12px;
  }
}
