@import '../../scss/utils/index';

.height-container {
  margin-top: 25px;

  @include breakpoint($mobile) {
    margin-top: unset;
  }
}

.height-screen--desktop {
  .PolicyAgreement {
    margin: 10px 0 15px;
  }
}
