@import '../../scss/utils/index';

.tutorial {
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__video-wrapper {
    position: relative;
    height: 57vw;
  }

  &__text {
    max-width: 241px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    color: #9B9B9B;
  }

  &__desktop-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
}
