$success: #69BE0C;
$warning: #FF9F00;
$failure: $error-border-color;

.screen {
  display: none;
  width: 100%;
  margin: 0 auto;

  &__content {
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    padding-top: 36px;
  }

  &__intro {
    width: 100%;
    max-width: 490px;
    padding: 0 26px;
    margin: auto auto 54px;

    @include breakpoint($mobile) {
      margin: auto auto 14px;
    }
  }

  &__intro-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    text-shadow: 0 2px 10px #3A3444;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__intro-txt {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-shadow: 0 2px 6px rgba(61, 56, 71, 0.87);
    font-weight: 300;
  }

  &__footer {
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 70px;

    @include breakpoint($mobile) {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .button {
      margin: 0 auto;
      font-weight: 300;
      box-shadow: 0 6px 16px 0 rgba(255,119,0,0.5);
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(16px);
    text-align: center;
  }

  &__label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(14px);
    margin-bottom: 9px;
  }

  &__control {
    margin: 0 auto;
    width: 275px;
  }

  &__control-error {
    color: #D0021B;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__subtitle {
    color: #CDCDCD;
    font-size: rem(11px);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint($mobile) {
      margin-bottom: 40px;
    }

    @include breakpoint($iphoneSE) {
      top: 32px;
    }

    span {
      &.success {
        color: $success;


      }

      &.warning {
        color: $warning;
      }

      &.failure {
        color: $failure;
      }
    }

    &-separ {
      display: inline-block;
      height: 2px;
      width: 24px;
      background: #CDCDCD;
      vertical-align: middle;
      margin: 0 13px;

      &.success {
        background: $success;
      }

      &.warning {
        background: $warning;
      }

      &.failure {
        background: $failure;
      }
    }
  }

  &__text {
    margin-bottom: 28px;

    @include breakpoint((max-width 320px, max-height 568px)) {
      line-height: rem(16px);
      margin-bottom: 20px;
    }
  }

  &.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
