@import "../utils/index";

.widget-container {
  width: 100%;
  max-width: 600px;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-size: cover;

  @include breakpoint(max-width 768px) {
    height: auto;
    max-width: 100%;
  }

  &--no-bg {
    background-image: none !important;
  }

  &:not(.widget-container--no-bg) {
    .header:not(.active) {
      .header__svg-fill {
        stroke: white;

        &--circle {
          stroke: #dddddd;
        }
      }
    }

    .screen__footer {
      .button {
        &:not(.help__close) {
          background-color: white;
          color: $main-color;
          font-weight: 300;
        }
      }
    }
  }
}
