@import "../utils/index";

.widget-container {
  width: 100%;
  max-width: 600px;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-size: cover;

  @include breakpoint(max-width 768px) {
    height: auto;
    max-width: 100%;
  }

  &--no-bg {
    background-image: none !important;
  }

  &/*:not(.widget-container--no-bg)*/ {
    .header:not(.active) {
      text {
        fill: black;
      }

      .header__svg-fill {
        &--circle {
          stroke: black;
        }
      }
    }

    .screen__footer {
      .button {
        &:not(.help__close) {
          font-weight: 600;

          &[disabled] {
            box-shadow: none;
            pointer-events: none;
            background-color: #CECECE;
            color: #fff;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}
