@import '../../scss/utils/index';

.help {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  flex-direction: column;
  z-index: 9;
  padding-top: 79px;

  &.active {
    display: flex;

    & + .screen {
      .widget-camera__warning {
        z-index: 0;
      }
    }
  }

  &__footer {
    margin-top: auto;
    padding-bottom: 50px;
    padding-top: 40px;
    position: relative;

    @include breakpoint($mobile) {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 50px;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
      pointer-events: none;
    }

    .button {
      margin: 0 auto;
      font-weight: 300;
    }
  }

  &__content {
    padding: 0 40px 0 40px;
    overflow: auto;
    flex-grow: 1;

    @include breakpoint($mobile) {
      padding: 0 30px 0;
    }

    h2 {
      font-size: rem(15px);
      margin-bottom: 17px;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 40px;
    }
  }
}
