@import '../../scss/utils/index';

.upload {
  text-align: center;
  padding-top: 18px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #F6F6F6;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -70px;
    left: 0;
    background-color: #F6F6F6;
    height: 70px;
    width: 100%;
  }

  & + .screen__footer {
    background-color: #F6F6F6;
  }

  .loader {
    background-color: #F6F6F6;
  }

  &__title {
    margin-bottom: 20px;
    position: relative;
  }

  &__title-2 {
    margin-top: 33px;
    margin-bottom: 21px;

    @include breakpoint((max-width 320px, max-height 568px)) {
      margin-top: 15px;
    }
  }

  &--is-mobile &__title-2 {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  &--is-mobile > p {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 275px;
    flex-direction: column;
  }

  &__files {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  &--is-mobile &__files {
    @include breakpoint($tablet) {
      width: 100%;
      justify-content: center;
    }
  }

  &__front-image-btn,
  &__side-image-btn {
    display: none;

    &.active {
      @include breakpoint($tablet) {
        display: block;
      }
    }
  }

  &__upload-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
