@import '../../scss/utils/index';

.upload {
  text-align: center;
  padding-top: 18px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
  }

  &__title-2 {
    margin-top: 33px;
    margin-bottom: 21px;

    @include breakpoint((max-width 320px, max-height 568px)) {
      margin-top: 15px;
    }
  }

  &--is-mobile &__title-2 {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  &--is-mobile > p {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  &__qrcode {
    margin: 0 auto;
    margin-top: 20px;
  }

  &__video {
    margin-right: 35px;

    &-btn {
      border-radius: 25px;
      width: 33px;
      height: 33px;
      box-shadow: 0 4px 10px 0 rgba(163,76,0,0.19);
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      padding-left: 4px;
      background: #fff;

      span {
        @include visually-hidden;
      }

      @include breakpoint((max-width 320px, max-height 568px)) {
        height: 70px;
      }
    }

    p {
      font-size: rem(11px);
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 21px;
      text-align: center;
      color: #F88E32;
      margin-top: 5px;
    }
  }

  &--is-mobile &__video {
    @include breakpoint($tablet) {
      display: none;
    }
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
  }

  &__files {
    display: flex;
    justify-content: space-between;
  }

  &--is-mobile &__files {
    @include breakpoint($tablet) {
      width: 100%;
      justify-content: center;
    }
  }

  &__front-image-btn,
  &__side-image-btn {
    display: none;

    &.active {
      @include breakpoint($tablet) {
        display: block;
      }
    }
  }

  &__banner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 315px;
    border-radius: 4px;
    padding: 10px 14px;
    background-color: #F1F3F4;
    margin-bottom: 50px;
  }

  &__banner-icon {
    margin: 0 16px 0 0;
    flex-shrink: 0;
  }

  &__banner-txt {
    color: #3A3A3A;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    text-align: left;
  }
}
