@import '../utils/index';

html {
  height: 100%;
  background: #E0E6F9;
}

body {
  background: #E0E6F9;
  min-height: 100%;

  @include breakpoint(max-height 530px) {
    overscroll-behavior-y: auto;
    overflow: auto;
  }


  @include breakpoint(max-width 768px) {
    display: flex;
  }

  &.offline {
    .header__offline-status {
      display: block;
    }

    .screen__footer {
      .button {
        pointer-events: none !important;
        background-color: #cecece !important;
        color: #fff !important;
      }
    }

    .upload-block__btn {
      pointer-events: none !important;
    }

    .widget-camera-take-photo {
      pointer-events: none !important;
    }

    .weight-container__skip-btn {
      pointer-events: none !important;
    }

    .measurements__list {
      pointer-events: none !important;
    }

    .header__close {
      pointer-events: none !important;
    }
  }
}

.widget-camera__top-icon {
  display: none !important;
}
.widget-camera__tap-screen-button {
  margin-bottom: 40px !important;
  font-weight: 500 !important;
}

button {
  cursor: pointer;
}

* {
  outline: none;
}
