@import '../utils/index';

html {
  height: 100%;
}

body {
  background: #eee;
  min-height: 100%;

  @include breakpoint(max-width 768px) {
    display: flex;
  }

  &.offline {
    .header__offline-status {
      display: block;
    }

    .screen__footer {
      .button {
        pointer-events: none !important;
        background-color: #cecece !important;
        color: #fff !important;
      }
    }
  }
}

button {
  cursor: pointer;
}

* {
  outline: none;
}
