@import '../../scss/utils/index';
$mobile-image-height: 340px;

.upload-file {
  display: flex;
  cursor: pointer;
  background: #FFFFFF;
  transition: all ease 300ms;
  overflow: hidden;
  width: 100%;
  flex-grow: 1;
  margin: 0 !important;
  height: 100%;

  @media (max-width: 414px) and (max-height: 667px) {
    margin-bottom: 24px;
  }

  &__image {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    height: auto !important;

    @media (max-width: 414px) and (max-height: 667px) {
      height: 50vw;
    }

    @media (max-width: 375px) and (max-height: 560px) {
      height: 33vw;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  input {
    @include visually-hidden;
  }

  &__img-onload-detect {
    opacity: 0;
    width: 10px;
    height: 10px;
  }
}
