@import '../../scss/utils/index';
$mobile-image-height: 340px;

.upload-file {
  display: flex;
  cursor: pointer;
  background: #FFFFFF;
  transition: all ease 300ms;
  overflow: hidden;
  margin: 0 auto 54px;
  width: 100%;
  flex-grow: 1;
  
  &__image {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  input {
    @include visually-hidden;
  }

  &__img-onload-detect {
    opacity: 0;
    width: 10px;
    height: 10px;
  }
}
