@import '../../scss/utils/index';

$border-width: 2px;

.gender {
  display: flex;
  justify-content: space-between;

  input {
    @include visually-hidden();
  }

  &__check {
    margin-bottom: 20px;
  }

  &__item {
    height: 50px;
    background: #fff;
    border: 2px solid $main-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    color: $main-color;
    font-size: 16px;
    line-height: 19px;

    &.checked {
      color: #fff;
      background: $main-color;
    }

    &:first-child {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    span {
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 8px;
    }

    span,
    img {
      position: relative;
      z-index: 1;
    }
  }

  &__control {
    margin-top: 133px;
    margin-bottom: 14px;

    @include breakpoint($mobile) {
      margin-top: 80px;
    }

    @include breakpoint($iphoneSE) {
      margin-top: 20px;
    }
  }
}
