@import '../../scss/utils/index';

.upload-block {
  display: none;

  &.active {
    display: block;
  }

  &__text {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 16px;
  }

  &__btn {
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    background-color: #F1F3F4;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
  }
}
