@import '../../scss/utils/index';

.upload-block {
  display: none;

  &:last-child {
    .upload-file {
      transform: scaleX(-1);
    }
  }

  &.active {
    display: block;
  }

  &__text {
    display: block;
    max-width: 236px;
    margin-top: 27px;
    color: #9B9B9B;
  }
}
