@import '../../scss/utils/index';

.email {
  margin-top: 100px;

  @include breakpoint($mobile) {
    margin-top: unset;
  }

  &__control {
    margin-bottom: 14px;

    @include breakpoint($mobile) {
      margin-top: 40px;
    }

    @include breakpoint($iphoneSE) {
      margin-top: 20px;
    }
  }

  &__discount-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 290px;
    margin: 18px auto 0;
  }

  &__discount-logo {
    margin: 0 20px 0 0;

    img {
      width: 76px;
    }
  }

  &__discount-info {
    text-align: left;

    p {
      color: #000000;
      font-size: 14px;
      line-height: 21px;

      &:first-child {
        margin-bottom: 6px;
        color: $main-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
      }

      &:last-child {
        color: #000000;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &__link {
    outline: none;
    border: 0;
    background: #fff;
    color: #9b9b9b;
    text-decoration: underline;
    padding: 0;
  }

  .input {
    &:disabled {
      opacity: 0.6;
    }
  }
}

.email__label {
  font-size: 17px;
  text-align: left;
}

.email-screen {
  @include breakpoint($mobile) {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__body {
    display: contents;
  }
}

.email-screen--keyboard {
  @include breakpoint($mobile) {
    justify-content: flex-start !important;
    padding-bottom: 8px;
  }

  .email-screen__body {
    @include breakpoint($mobile) {
      display: flex;
      flex-direction: column;
      padding-bottom: 12px;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .screen__content {
    @include breakpoint($mobile) {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      padding-top: 8px;
      overflow: visible;
    }
  }

  .email__control {
    @include breakpoint($mobile) {
      margin-top: 10px;
      margin-bottom: 8px;
    }
  }

  .name__control {
    @include breakpoint($mobile) {
      margin-top: 0;
      margin-bottom: 14px;
    }
  }

  .email__label {
    @include breakpoint($mobile) {
      margin-bottom: 8px;
      line-height: 22px;
    }
  }

  .input {
    @include breakpoint($mobile) {
      height: 48px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .screen__footer {
    @include breakpoint($mobile) {
      flex-shrink: 0;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 0;
    }

    .button {
      @include breakpoint($mobile) {
        height: 48px;
      }
    }
  }

  .PolicyAgreement {
    @include breakpoint($mobile) {
      margin: 0 30px 10px 0;
    }
  }
}

.button {
  @media (min-width: 600px) {
    width: 320px;
  }
}
