@import '../../scss/utils/index';

.welcome {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  + .screen__footer {
    .button {
      box-shadow: none;
    }
  }

  &__img {
    margin-bottom: 70px;

    img {
      max-width: 100%;
    }
  }
}
