@import '../../scss/utils/index';

.welcome {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include breakpoint($mobile) {
    padding-top: 82px;
  }

  + .screen__footer {
    .button {
      box-shadow: none;

      img {
        display: none;
      }

      span {
        display: block;
      }

      &[disabled] {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          display: block;
        }

        span {
          display: none;
        }
      }
    }
  }

  &__img {
    margin-bottom: 70px;

    @include breakpoint($mobile) {
      flex-grow: 1;
      position: relative;
      margin-bottom: 56px;
    }

    img {
      max-width: 100%;

      @include breakpoint($mobile) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
      }
    }
  }
}
