@import '../../scss/utils/index';

.weight-container {
  &__control {
    margin-top: 133px;

    @include breakpoint($mobile) {
      margin-top: 80px;
    }

    @include breakpoint($iphoneSE) {
      margin-top: 20px;
    }

    input {
      padding-right: 34px;
    }
  }

  &__units {
    margin-top: 41px;
  }

  &__input-wrap {
    position: relative;
    margin-bottom: 40px;

    select {
      padding-right: 40px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-appearance: none; /* for iphone select height */
      + .weight-container__placeholder {
        height: 100%;
        bottom: 0;
      }
    }

    input[disabled] {
      opacity: 1;
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #ddd;
    text-transform: uppercase;
  }

  &__txt {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  &__skip-btn {
    border: none;
    padding: 0 6px;
    box-shadow: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
  }

  &__switcher-switch {
    height: 26px;
    width: 52px;
    border: 2px solid $main-color;
    border-radius: 25px;
    order: 2;
    position: relative;
    cursor: pointer;
    background: #fff;

    span {
      @include visually-hidden();
    }

    &:before {
      content: '';
      display: none;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background-color: $main-color;
      position: absolute;
      top: 2px;
      transition: all ease 300ms;
    }
  }
}
