@import '../../scss/utils/index';

.height {
  &[data-measure="cm"] .height__measure--cm {
    display: block;
  }

  &[data-measure="in"] .height__measure--in {
    display: flex;
    position: relative;
  }

  &__measure  {
    display: none;
    margin: 0 auto;
  }

  &__input-block {
    position: relative;

    &:nth-child(2) {
      margin-left: 18px;
    }

    &:after {
      content: attr(data-measure);
      display: none;
      position: absolute;
      top: 50%;
      right: 0;
      color: #DDDDDD;
      text-transform: uppercase;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: rem(12px);
    }

    input {
      padding-right: 40px;
    }
  }

  &__input-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDDDDD;
  }

  &__input {
    height: 24px;
    border: 0;
    border-bottom: 2px solid #DDDDDD;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    padding-right: 18px;
    appearance: none;
    border-radius: 0;

    &:focus {
      border-color: $main-color;
    }

    @include disable-number();

    @include placeholder {
      color: #DDDDDD;
    }
  }

  &__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    input {
      @include visually-hidden();
    }

    label.checked {
      p {
        &:first-child {
          color: #000;
        }
      }
    }

    &--cm &-switch:before {
      left: 2px;
      display: block;
    }

    &--in &-switch:before {
      left: 28px;
      display: block;
    }
  }

  &__switcher-item {
    color: #DDDDDD;
    text-transform: uppercase;
    font-size: rem(12px);
    text-align: center;
    cursor: pointer;

    &--cm {
      order: 1;

      .height__switcher-info {
        text-align: right;
      }
    }

    &--in {
      order: 3;

      .height__switcher-info {
        text-align: left;
      }
    }
  }

  &__switcher-switch {
    height: 26px;
    width: 52px;
    border: 2px solid $main-color;
    border-radius: 25px;
    order: 2;
    position: relative;
    cursor: pointer;
    background: #fff;

    span {
      @include visually-hidden();
    }

    &:before {
      content: '';
      display: none;
      height: 18px;
      width: 18px;
      border-radius: 25px;
      background-color: $main-color;
      position: absolute;
      top: 2px;
      transition: all ease 300ms;
    }
  }

  &__desc {
    height: 14px;
  }

  &__switcher-info {
    padding: 0 10px;

    p {
      font-size: 12px;
      line-height: 14px;
      text-transform: initial;

      &:last-child {
        font-size: 10px;
        line-height: 12px;
        margin-top: 2px;
      }
    }
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  input[disabled] {
    opacity: 1;
  }
}

