.data {
  &__title {
    margin-bottom: 20px;
  }

  &__gender {
    margin: 0 auto;
    margin-bottom: 70px;
  }

  &__check {
    margin-bottom: 25px;
  }

  &__body-type-text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }
}
