@import '../../scss/utils/index';

.preloader {
  display: none;
  text-align: center;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding-top: 36px;

  @include breakpoint($mobile) {
    top: 40px;
    justify-content: space-between;
    padding-top: 60px;
  }

  @media screen and (max-width: 374px) {
    top: 14px;
  }

  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;

    @media (max-width: 414px) and (max-height: 662px) {
      justify-content: flex-start;
    }

    @media (max-width: 375px) and (max-height: 580px) {
      padding-top: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 40px;
      top: -40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: white;
    }

    & + .widget-camera {
      opacity: 0;
      z-index: -1;
    }
  }

  &__title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    margin-bottom: 14px;
    text-transform: uppercase;

    @include breakpoint($mobile) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__title-wrap {
    margin-bottom: 70px;

    @media screen and (max-height: 650px) {
      margin-bottom: 40px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 40px;
    }

    @media (max-width: 375px) and (max-height: 580px) {
      margin-bottom: 16px;
    }
  }

  &__text {
    width: 100%;
    max-width: 350px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;

    @include breakpoint($mobile) {
      max-width: 320px;
      margin: 0 auto 60px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__status {
    color: #396EC5;
    font-weight: bold;
    line-height: 16px;
    height: 16px;

    @include breakpoint($mobile) {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 19px;
      height: auto;
    }
  }

  &__warning-block {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 342px;
    margin: 0 auto 60px;
    padding: 0 16px;

    @media (max-width: 414px) and (max-height: 662px) {
      margin-bottom: 24px;
    }

    @media (max-width: 375px) and (max-height: 580px) {
      margin-bottom: 16px;
    }
  }

  &__warning-icon {
    flex-shrink: 0;
    width: 22px;
    height: 40px;
    border: 2px solid #343239;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #E02020;
    background-color: #F6FAFF;
    font-size: 16px;
    margin-right: 16px;
  }

  &__warning-txt {
    font-size: 16px;
    text-align: left;
  }

  &__animation {
    height: 310px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    flex-shrink: 0;

    @include breakpoint($mobile) {
      margin-bottom: 50px;
    }

    @media (max-width: 375px) and (max-height: 580px) {
     margin-bottom: 16px;
    }
  }

  &__animation-stage {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;

    &--first {
      animation: .1s preloader-disappearance linear 9.3s forwards;
    }

    &--second {
      animation: 3s preloader-appearance linear 6.3s forwards, .5s preloader-disappearance linear 15.3s forwards;
      clip-path: inset(0 0 100% 0);
    }

    &--third {
      animation: 3s preloader-appearance linear 12.3s forwards;
      clip-path: inset(0 0 100% 0);
    }
  }

  &__animation-indicator {
    position: absolute;
    top: -6px;
    right: 0;
    left: 0;
    margin: auto;
    animation: 6s indicator-up-and-down linear infinite .3s;
    will-change: transform;
  }

  &__instructions {
    margin-top: 160px;
    width: 100%;
    max-width: 320px;
    display: none;
    flex-direction: column;
    align-items: center;

    &--active {
      display: flex;

      & ~ * {
        display: none;
      }
    }
  }

  &__instructions-phone-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 60px;
    width: 100%;
    margin-bottom: 50px;
  }

  &__instructions-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    animation: preloader-spinner 2.5s linear infinite;
  }
}

@keyframes indicator-up-and-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(310px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes preloader-appearance {
  0% {
    clip-path: inset(0 0 100% 0);
  }

  100% {
    clip-path: inset(0);
  }
}

@keyframes preloader-disappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
