@import '../../scss/utils/index';

.preloader {
  display: none;
  text-align: center;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding-top: 56px;

  @include breakpoint($mobile) {
    top: 40px;
  }

  @media screen and (max-width: 374px) {
    top: 14px;
  }

  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 20px;
      top: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: white;
    }
  }

  &__title {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    text-transform: unset;
    margin-bottom: 74px;

    @include breakpoint($mobile) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 374px) {
      margin-bottom: 14px;
    }
  }

  &__text {
    width: 100%;
    max-width: 320px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;

    @include breakpoint($mobile) {
      margin: 0 auto auto;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__anim {
    position: relative;
    width: 94px;
    height: 251px;
    overflow: hidden;
    margin-bottom: 44px;

    @include breakpoint($mobile) {
      margin-bottom: auto;
    }

    @media screen and (max-width: 374px) {
      width: 82px;
      height: 219px;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      position: absolute;
    }
  }

  &__dots {
    animation: spin 5s ease infinite;
    will-change: transform;
  }

  &__percentage {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
  }
}

@keyframes spin {
  0% {
    top: -60px;
  }
  50% {
    top: 255px;
  }
  100% {
    top: -60px;
  }
}
