@import '../../scss/utils/index';

.browser {
  padding-top: 114px;
  text-align: center;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0 auto 38px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__copy-btn {
    transition: none;

    &--copied {
      background-color: #CECECE;
      box-shadow: none !important;
    }
  }
}
