@import '../../scss/utils/index';

.header {
  height: 61px;
  padding: 0 28px;
  padding-top: 36px;
  display: flex;
  align-items: center;

  @include breakpoint($iphoneSE) {
    padding: 10px 10px 0;
  }

  &__close {
    margin-left: auto;
  }

  &__help,
  &__close {
    background: transparent;
    padding: 2px;
    border: none;
    position: relative;
    z-index: 10;

    &--hide {
      display: none;
    }
  }

  &--white:not(.active) &__help {
    opacity: 0.8;

    text {
      fill: #fff;
    }

    circle {
      stroke: #fff !important;
    }
  }

  &--white:not(.active) &__close {
    path {
      stroke: #fff;
    }
  }

  &--table-flow-camera:not(.active) {
    .header__help {
      opacity: 0 !important;
      pointer-events: none !important;
    }

    path {
      stroke: #fff;
    }
  }

  &--translucent {
    button {
      opacity: 0.4;
    }
  }

  &__offline-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #d0021b;
    padding: 4px;
    color: white;
    text-align: center;
    z-index: 50;
    display: none;
  }
}
