@import '../../scss/utils/index';

.header {
  height: 61px;
  padding: 0 28px;
  padding-top: 36px;
  display: flex;
  align-items: center;

  @include breakpoint($iphoneSE) {
    padding: 10px 10px 0;
  }

  &__close {
    margin-left: auto;
  }

  &__help,
  &__close {
    background: transparent;
    padding: 2px;
    border: none;
    position: relative;
    z-index: 10;

    &--hide {
      display: none;
    }
  }

  &--white:not(.active) &__help {
    opacity: 0.8;

    text {
      fill: #fff;
    }

    circle {
      stroke: #fff !important;
    }
  }

  &--white:not(.active) &__close {
    path {
      stroke: #fff;
    }
  }

  &--table-flow-camera:not(.active) {
    .header__help {
      opacity: 0 !important;
      pointer-events: none !important;
    }

    path {
      stroke: #fff;
    }
  }

  &--translucent {
    button {
      opacity: 0.4;
    }
  }

  &__offline-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #d0021b;
    padding: 4px;
    color: white;
    text-align: center;
    z-index: 50;
    display: none;
  }

  &__exit {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    z-index: 10;

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin: 18px 0 27px;
      text-align: center;
    }

    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__close_btn {
    background: #fff;
    border: 2px solid #343239;
    color: #343239;
    margin-top: 10px;
  }
}
