@import '../../scss/utils/index';

.header {
  height: 61px;
  padding: 0 28px;
  padding-top: 36px;
  display: flex;
  align-items: center;

  @include breakpoint($iphoneSE) {
    padding: 10px 10px 0;
  }

  &__close {
    margin-left: auto;
  }

  &__help,
  &__close {
    background: transparent;
    padding: 2px;
    border: none;
    position: relative;
    z-index: 10;

    &--hide {
      display: none;
    }
  }

  &--white:not(.active) &__help {
    opacity: 0.8;

    text {
      fill: #fff;
    }

    circle {
      stroke: #fff;
    }
  }

  &--white:not(.active) &__close {

    path {
      stroke: #fff;
    }
  }
}
