@import '../../scss/utils/index';

.camera-mode-selection {
  padding-top: 18px;
  display: flex;
  flex-direction: column;

  .screen__title {
    margin-bottom: 20px;
  }

  .privacy-banner {
    margin: 0 auto 16px;
  }
  
  &__text {
    width: 100%;
    max-width: 316px;
    margin: 0 auto 20px;
    text-align: center;
  }

  &__buttons-wrap {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    width: 100%;
    max-width: 275px;
    background: transparent;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    border: 1px solid #DEDEDE;
    border-radius: 4px;

    @media (max-height: 600px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 8px;
    }

    &:first-child {
      margin-bottom: 10px;
    }

    &--active {
      pointer-events: none;
      border: 1px solid #396EC5;

      .camera-mode-selection__title {
        color: #396EC5;
      }
    }

    &--inactive {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__img-wrap {
    padding: 0;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    margin: 0 0 12px;
    flex-grow: 1;

    @media (max-height: 600px) {
      width: 70px;
      height: 54px;
      flex-grow: 0;
      margin: 0 16px 0 0;
    }
  }

  &__title {
    color: #343239;
    text-align: center;
    font-size: 16px;
  }

  input[type='radio'] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    appearance: none;
  }

  &__img-onload-detect {
    opacity: 0;
    width: 10px;
    height: 10px;
  }
}
