@import '../../scss/utils/index';

.body-type {
  display: flex;
  justify-content: center;

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 140px;

    &.active {

    }

    &--apple {
      margin-right: 3px;
    }

    &--pear {
      margin-right: 16px;
    }

    &--rectangle {
      margin-right: 19px;
    }

    &--hourglass {

    }
  }

  &__item.active &__circle {
    border-color: #FFAB55;

    &:before {
      opacity: 1;
    }
  }

  &__item.active &__icon {
    stroke: #FFAB55;
  }

  &__invalid {

  }

  &__circle {
    height: 13px;
    width: 13px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      background-color: #FFAB55;
      border-radius: 50%;
      opacity: 0;
    }
  }

  input {
    @include visually-hidden;
  }
}
