@import '../../scss/utils/index';

.PolicyAgreement {
  margin-bottom: 20px;

  &__link {
    outline: none;
    border: 0;
    background: #fff;
    color: #9b9b9b;
    text-decoration: underline;
    padding: 0;
  }
}
